<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-heading"><h1>My Pins</h1>
     </div>
  <div class="panel-body">

<p>
  <%= image_tag @pin.image.url(:medium) %><br/>
  <strong>Description:</strong>
  <%= @pin.description %>
  <br/>
</p>

</div>
<div class="panel-footer">
  <% if@pin.user == current_user %>
  <%= link_to 'Edit', edit_pin_path(@pin) %> |
  <% end %>
  <%= link_to 'Back', pins_path %>
</div>
